button img {
	width: calc(var(--button-size) - 10px);
	transform: translate(-50%, -50%);
	transition: ease-out 0.2s;
    position: absolute;
}

button, button::before {
    height: var(--button-size);
    width: var(--button-size);
	transition: ease 0.10s;
	box-sizing: border-box;
    outline: transparent;
	border-radius: 15px;
    position: absolute;
    cursor: pointer;
	padding: 0px;
}

button {
	border: 3px solid var(--outside-highlight-color);
	background-color: var(--inside-color);
	transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow);
    transform-style: preserve-3d;
}

button::before {
    transform: translateZ(-1px) translate(-50%, -20%);
    background-color: var(--outside-color);
	border: 3px var(--outside-color);
    content: '';
}

/* #region hover */

button:hover {
    transform: translate(-50%, -45%);
}

button:hover::before {
    transform: translateZ(-1px) translate(-50%, -25%);
}

/* #endregion */
/* #region clicked */

button:active, button.pressed {
    transform: translate(-50%, -20%);
}

button:active::before, button.pressed::before {
    transform: translateZ(-1px) translate(-50%, -50%);
}

/* #endregion */
/* #region disabled */

button:disabled {
    transform: translate(-50%, -20%);
    pointer-events: none;
}

button:disabled::before {
    transform: translateZ(-1px) translate(-50%, -50%);
}

button:disabled img {
	filter: brightness(0.2);
}

/* #endregion */