button img {
	width: calc(var(--button-size) - 10px);
	transform: translate(-50%, -50%);
	transition: ease 0.2s;
    position: absolute;
}

.controls button,
.controls button::before {
	box-sizing: border-box;
    outline: transparent;
    position: absolute;
    cursor: pointer;
    
    
    border-radius: 15px;
    
    height: var(--button-size);
    width: var(--button-size);
	padding: 0px;

    transition: ease 0.2s;
}

.controls button {
	border: 3px solid rgb(227 227 227);
	background-color: rgb(74 74 74);
	transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

.controls button::before {
    transform: translateZ(-1px) translate(-50%, -20%);
    background-color: rgb(174 174 174);
	border: 3px transparent;
    content: '';
}

/* #region hover */

.controls button:hover {
    transform: translate(-50%, -45%);
}

.controls button:hover::before {
    transform: translateZ(-1px) translate(-50%, -25%);
}

/* #endregion */
/* #region clicked */

.controls button:active,
.controls button.pressed {
    transform: translate(-50%, -20%);
}

.controls button:active::before,
.controls button.pressed::before {
    transform: translateZ(-1px) translate(-50%, -50%);
}

/* #endregion */
/* #region disabled */

.controls button:disabled {
    transform: translate(-50%, -20%);
    pointer-events: none;
}

.controls button:disabled img {
	filter: brightness(0.2);
}

.controls button:disabled::before {
    transform: translateZ(-1px) translate(-50%, -50%) ;
}

/* #endregion */