@import url('./room-title.css');
@import url('./progress-bar.css');
@import url('./control-layout.css');
@import url('./control-buttons.css');
@font-face {
    font-family: 'main';
    src: url('./font/syne-mono-regular.ttf');
}

:root {
	--button-size: 50px;
}

html, body {
	background-color: #222222;
    font-family: 'main';
    touch-action: none;
	user-select: none;
	color: white;
	padding: 0px;
    margin: 0px;
}

.container {
	transform: translate(-50%, -50%);
	justify-content: center;
    position: absolute;
    display: flex;
    height: 620px;
	width: 310px;
    left: 50%;
    top: 50%;
}

div.stage {
	transform: translate(-50%, -50%);
	background-color: black;
    position: absolute;
	height: 310px;
	width: 310px;
    left: 50%;
    top: 37%;
}

canvas {
	image-rendering: pixelated;
    position: absolute;
}

.hide-me {
	transform: translate(-50%, -50%);
    visibility: hidden;
    position: absolute;
	z-index: -1;
	margin: 0px;
	left: 50%;
    top: 50%;
}