#maze-title::before,
#maze-title::after {
    content: attr(maze-title);
    position: absolute;
    opacity: 0.8;
	left: 0px;
}

#maze-title::before {
    animation: flickerUpper 1.5s linear infinite;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

#maze-title::after {
    animation: flickerLower 2.5s linear infinite;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

#maze-title {
    animation: flicker 2s linear infinite;
	margin: 0px 0px 10px 0px;
	user-select: none;
    font-size: 32px;
    opacity: 0.8;
}

.title-container {
	justify-content: center;
	display: flex;
}

/* #region animations */

@keyframes flicker {
    8%, 74% {
        transform: translate(1px, 0px) skew(-1deg);
    }
    16%, 70% {
        transform: translate(-1px, 0px) skew(1deg);
    }
    72% {
        transform: translate(0px, 0px) skew(-3deg);
        opacity: 1;
    }
}

@keyframes flickerUpper {
    8%, 74% {
        transform: translate(1px, -1px);
    }
    16%, 70% {
        transform: translate(-1px, 1px);
    }
    72% {
        transform: translate(6px, 3px);
        opacity: 1;
    }
}

@keyframes flickerLower {
    8%, 74% {
        transform: translate(-1px, 1px);
    }
    16%, 70% {
        transform: translate(1px, -1px);
    }
    72% {
        transform: translate(-8px, -4px);
        opacity: 1;
    }
}

/* #endregion */