progress {
	border: white solid 2px;
	margin-top: 15px;
	width: 310px;
	height: 15px;
}

progress::-webkit-progress-bar {
    background-color: #000000;
}

progress::-webkit-progress-value {
    background-color: #ddcf5c;
}