progress {
	transform: translate(-50%, -50%);
	border: white solid 1px;
    position: absolute;
	border-radius: 0px;
	width: 310px;
	height: 5px;
    left: 50%;
	top: 69%;
}

progress::-webkit-progress-bar {
    background-color: #000000;
}

progress::-webkit-progress-value {
    background-color: #ddcf5c;
}