html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    font-family: 'main';
    color: white;
    user-select: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 410px;
    display: flex;
    justify-content: center;
}

div#stage {
    position: absolute;
    background-color: black;
    width: 310px;
    height: 310px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

div#screen {
    position: absolute;
    background-color: black;
    width: 320px;
    height: 320px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

button {
    cursor: pointer;
    color: white;
    font-family: 'main';
    font-size: 24px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
}

h3 {
    margin: 0px;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
}

canvas {
    position: absolute;
}

.movement {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.actions {
    position: absolute;
    top: 100%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#KeyW {
    top: 0px;
    left: 0px;
}

#KeyA {
    top: 36px;
    left: -36px;
}

#KeyS {
    top: 70px;
    left: 0px;
}

#KeyD {
    top: 36px;
    left: 36px;
}

#KeyK {
    top: 0px;
    left: 0px;
}

#KeyL {
    top: 70px;
    left: 36px;
}

.icon,
button {
    -webkit-tap-highlight-color: transparent;
    padding: 0px 8px 1px 8px;
    border: 1px solid #555555;
    background-color: #333333;
    border-radius: 5px;
    cursor: pointer;
}

.icon:hover,
button:hover {
    background-color: #555555;
    border-color: #777777;
}

.icon:active,
.icon.pressed,
button:active {
    background-color: #222222;
    border-color: #333333;
}

.hide-me {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    margin: 0px 5px;
}

progress {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 5px;
    border-radius: 0px;
    border: white solid 1px;
}

progress::-webkit-progress-bar {
    background-color: #000000;
}

progress::-webkit-progress-value {
    background-color: #ddcf5c;
}
