html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    font-family: 'main';
    color: white;
    user-select: none;
    touch-action: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 540px;
    display: flex;
    justify-content: center;
}

div#stage,
div#screen {
    position: absolute;
    background-color: black;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37%;
}

div#stage {
    width: 310px;
    height: 310px;
}

div#screen {
    width: 320px;
    height: 320px;
}

h3 {
    margin: 0px;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
    text-align: center;
}

canvas {
    position: absolute;
}

.movement {
    position: absolute;
    top: 76.5%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.actions {
    position: absolute;
    top: 76.5%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#KeyW {
    padding-top: 10px;
    left: 0px;
    top: 0px;
}

#KeyA {
    padding-left: 12px;
    padding-top: 4px;
    left: -48px;
    top: 48px;
}

#KeyS {
    padding-bottom: 6px;
    top: 96px;
    left: 0px;
}

#KeyD {
    padding-right: 12px;
    padding-top: 4px;
    left: 48px;
    top: 48px;
}

#KeyK {
    left: 0px;
    top: 0px;
}

#KeyL {
    left: 48px;
    top: 96px;
}

.actions button {
    padding: 0px;
}

button img {
    transform: translate(-50%, -50%);
    image-rendering: crisp-edges;
    position: absolute;
    width: 30px;
    left: 50%;
    top: 50%;
}

#play-btn {
    padding: 4px 24px;
}

.control-options button {
    width: 46px;
    height: 46px;
}

button {
    -webkit-tap-highlight-color: transparent;
    transform: translate(-50%, -50%);
    border: 1px solid #555555;
    background-color: #333333;
    font-family: 'main';
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    left: 50%;
    top: 75%;
}

button:hover {
    background-color: #555555;
    border-color: #777777;
}

button.pressed,
button:active {
    background-color: #222222;
    border-color: #333333;
}

.hide-me {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    margin: 0px 5px;
}

progress {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 5px;
    border-radius: 0px;
    border: white solid 1px;
}

progress::-webkit-progress-bar {
    background-color: #000000;
}

progress::-webkit-progress-value {
    background-color: #ddcf5c;
}
